.contentBox
  プロフィール
.contentBox
  発送元・お届け先住所
.contentBox
  = link_to "クレジットカード登録", new_card_path, class: 'Button'
.contentBox
  メール・パスワード
.contentBox
  本人情報
.contentBox
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'

.contentBox
  = link_to "商品ページ", item_path(:id), class: 'Button'


  