.sideMenu
  .sideMenu__contentBox
    プロフィール
  .sideMenu__contentBox
    発送元・お届け先住所
  .sideMenu__contentBox
    = link_to "クレジットカード登録", new_card_path

  .sideMenu__contentBox
    メール・パスワード
  .sideMenu__contentBox
    本人情報
  .sideMenu__contentBox
    = link_to "ログアウト", destroy_user_session_path, method: :delete