.myPage
  .myPage__header
    .myPage__headerTop
      .myPage__headerLogo
        logo
      .myPage__headerSearchbox
        何かお探しですか？※formにする
    .myPage__headerMiddle
      .myPage__headerSearchL
        .li カテゴリーから探す
        .li ブランドから探す
      .myPage__headerSearchR
        .li イイね！一覧
        .li お知らせ
        .li to doリスト
        .li マイページ
    .myPage__headerBottom
      .myPage__headerCategoryL
        go to furima > マイページ
      .myPage__headerCategoryR

  .myPage__main
    .myPage__leftBox
      .myPage__indexBox
        = render 'sideBox'
    .myPage__rightBox
      
      .myPage__infoBox
        
        .myPage__picBox
          = link_to image_tag 'background.jpg', alt: '失敗', height: '200px', width: '800px', class: 'pic1'
          .myPage__picinBox
            = image_tag 'toshiki-no-pic.jpg', alt: '失敗', height: '100%', width: '100%', class: 'pic2'
        .myPage__nameBox
          toshiki 4いいね
          //= current_user.name イイね数
        .myPage__contentsBox
          .myPage__contentinfo
            プロフィール
            .li2 筋トレグッズを中心に出品しています
            .li2 プロテインもあるyo
          .myPage__contentnews
            お知らせ
            
