.accountRegistration{
  width: 400px;
  margin: 60px auto;
  padding: 60px;
  text-align: center;
}

.new_user{
    height: 500px;
    width: 300px;
}
.field{
}

.Button {
  margin-top: 40px;
  color: #fff;
  background-color: #00ECFF;
}
