* {
  box-sizing: border-box;
}

@mixin flexBox-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexBox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPage{
  height: 670px;
  background-color: #EEEEEE;
  &__header{
    width: 100%;
    background-color: white;
  }
  &__headerTop{
    margin-top: 10px;
    @include flexBox-around
  }
  
  &__headerMiddle{
    height: 50px;
    border-bottom: solid 1px lightgray;
    @include flexBox-around
  }
  li{
    display: inline-block;  
  }
  &__headerSearchL{
    @include flexBox-around;
  }
  &__headerSearchR{
    @include flexBox-around;
  }
  &__headerSearchbox{
    margin: 10px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .header1 {
    background-color: white;
    height: 100px;
    padding: 10px 60px;
    margin: 5px 0;
    font-size: 16px;
  }

  .header2 {
    height: 100px;
    padding: 10px 60px;
    margin: 5px 0;
    font-size: 16px;
  }


  &__main{
    @include flexBox-center;
  }
  &__leftBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__rightBox{
    @include flexBox-center;
    text-align: center;
  }
  &__picBox{
    height: 150px;
    width: 800px;
    @include flexBox-center;
    position: relative;
  }
  &__picinBox{
    height: 100px;
    width: 100px;
    position: absolute;
  }
  &__nameBox{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #EFEFEF;
  }
  &__name{
    display: flex;
    position: absolute;
    left: 320px;  
  }
  &__in {
    margin: 5px;
  }
  .myPage__contentinfo {
    margin: 50px 0 0 22px;
    width: 750px;
    background-color: white;
    border-radius: 5px;
    &__profile {
      background-color: $mainBlueColor;
      border-radius: 5px;
      color: white;
    }
  }
  //お知らせ
  .newscontents {
    margin-top: 20px;
    overflow: scroll;
    background-color: #ffffff;
    height: 200px;
    border-radius: 5px;
  }
  .newscontent__info {
    background-color: $mainBlueColor;
    color: white;
  }
  .newscontent {
    margin-top: 5px;
  }
}

.pic1 {
  height: 50px;
  width: 150px;
}

.pic2 {
  height: 220px;
  width: 770px;
  margin-top: 25px;
  border-radius: 5px;
}

.header2 {
  height: 100px;
  padding: 10px 60px;
  margin: 5px 0;
  font-size: 16px;
  border-bottom: solid 1px lightgray;
  box-shadow: 0 3px 6px -5px rgba(0, 0, 0, 0.5);
}

.headerSearchbox {
  padding: 5px 10px;
  width: 400px;
}

.category-icon, .brand-icon {
  color: $mainBlueColor;
}

//サイドメニューバー
.contentBox{
  height: 60px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 30px;
  border-radius: 5px;
}

.contentBox2 {
  height: 60px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 30px;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: $mainBlueColor;
  }
}