* {
  box-sizing: border-box;
}

@mixin flexBox-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexBox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//マイページ
.myPage {
  height: 670px;
  &__main {
    @include flexBox-center;
  }
}

.myPageRight {
  @include flexBox-center;
  text-align: center;
  &__info {
    &__pic {
      position: relative;
      &__inner {
        position: absolute;
        top: 80px;
        left: 290px;
        text-align: center;
        font-size: bold;
        color: white;
      } 
    }
    &__profile {
      margin-top: 20px;
      width: 700px;
      border-radius: 5px;
      border: solid 1px rgb(104, 104, 104);
      &__title {
        background-color: $mainBlueColor;
        color: white;
      }
    }
    &__news {
      margin-top: 20px;
      overflow: scroll;
      height: 180px;
      border-radius: 5px;
      border: solid 1px rgb(104, 104, 104);
      &__title {
        background-color: $mainBlueColor;
        color: white;
      }
      &__list {
        margin-top: 5px;
      }
    }
  }
}

.mypage-pic {
  height: 220px;
  width: 700px;
  border-radius: 5px;
}

.mypage-pic2 {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  
}
 
//マイページのサイドメニュー
.sideMenu__contentBox {
  height: 60px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 5px;
  background-color: $mainBlueColor;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

.pic1 {
  height: 50px;
  width: 150px;
}

.pic2 {
  height: 220px;
  width: 770px;
  margin-top: 25px;
  border-radius: 5px;
}