.header2
  .header__top
    = link_to image_tag("material/logo/logo.png", class: "header__top__logo"), root_path
    .header__top__search
      %input{ class: "header__top__search__form", placeholder: "キーワードから探す"}
      %button.header__top__search__btn 
        = image_tag ("material/icon/icon-search 1.png"), class: "header__top__search__btn__icon" 
  .header__bottom
    .header__bottom__nav__left
      .header__bottom__nav__left__category
        =icon('fas','list', class: "category-icon")
        カテゴリー
      .header__bottom__nav__left__brand
        =icon('fas','shopping-bag', class: "brand-icon")
        ブランド
    .header__bottom__nav__right
      .header__bottom__nav__right__like
        イイね！一覧
      .header__bottom__nav__right__info
        お知らせ
      .header__bottom__nav__right__mypage
        =link_to "マイページ", "/users/#{current_user.id}"