= render "header"

.mainPage
  .mainPage__box
    .mainBox
      .mainBox__title
        %h5.mainBox__title__header
          購入が完了しました!
        .FormField__btn2
          = link_to "トップページに戻る", root_path, class: "square-btn"

      // 実装時にコメントアウト外す
      -# .FormField__btn2
      -#   = link_to "購入商品一覧", "#", class: "purchaseBtn__buy"

= render "footer"