.create
  = link_to image_tag 'logo.png', alt: '失敗', height: '100px', width: '150px'
  .create__frame
    .create__frame__message
      登録が完了しました。
    %ul.create__frame__btns
      %li.my_page_link
        = link_to "マイページに戻る", user_path(current_user.id), class: "purchaseBtn__buy"
      %li.credit_cards_index_link
        = link_to "登録カード一覧", card_path(current_user.id), class: "purchaseBtn__buy"
  %footer
    %list
      %a.item プライバシーポリシー
      %a.item FURIMA利用規約
      %a.item 特定商取引に関する表記
      %br
    = link_to image_tag ("material/logo/logo-white.png"), class: "footer__logo"
    %p.copyright ©︎FURIMA 