= render "items/header-mypage"

.mainPage
  .mainPage__box
    .mainBox
      .mainBox__title
        %h5.mainBox__title__header
          登録が完了しました。
    .FormField__btn2
      = link_to "マイページに戻る", user_path(current_user.id), class: "square-btn"


= render "items/footer"