= render "items/header-mypage"

.mainPage
  .mainPage__box
    .mainBox
      .mainBox__title
        %h5.mainBox__title__header
          削除が完了しました。
      .FormField__btn2
        = link_to "クレジットカード新規登録", new_card_path, class: "square-btn"
      .FormField__btn2
        = link_to "マイページに戻る", user_path(current_user.id), class: "square-btn2"

= render "items/footer"