.creditcardHeader{
  height: 100px;
  width: 100vw;
  margin-top: 30px;
  text-align: center;  
}

.inputForm{
  text-align: center;
}
.creditnumber{
  width: 200px;
  margin: 50px 0 50px 0;
}

.label{
  margin-bottom: 50px;
}

.cvc{
  width: 60px;
  margin-bottom: 50px;
}

.btn{
  width: 150px;
}

.creditcardFooter{

}

// クレジットカード登録画面
.card_add{
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
  text-align: center; 
  font-size: 20px;
}
.title2{
  margin: 50px;
  font-weight: bold;

}
.number{
  margin: 5px;
  
}
.date{
  margin: 5px;
}

.securitycode{
  &__securitycode__title{
  margin: 5px;
  }
}

.add{
  margin: 50px;
}


//登録完了画面
.create{
  text-align: center;
  height: 100vh;
}
 
.create__frame{
  height: calc(100vh - 320px);
  
  &__message{
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  }
  &__btns{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  }  
}
.my_page_link{
  margin: 20px;
}


//カード一覧画面
.show1{
  text-align: center;

  height: 100vh;
  width: 100vw;
  
  &__frame{
    height: calc(100vh - 220px);
  }
  &__frame__title{
  font-weight: bold;
  font-size: 20px;
  

  }
}

.destroy__function{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.payment-details{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

//削除完了画面
.destroy{
  text-align: center;
  height: 100vh;
}

.destroy__frame{
  text-align: center;

  height: calc(100vh - 120px);
  width: 100vw;
  
  &__message{

  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  }

  &__btns{

  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  }
}



// 購入カード確認画面
.buy{
  font-size: 20px;
  height: 100vh; 
}
.main_buycontents{
  height: calc(100vh - 120px);
  text-align: center;

  &__details{
  height: 100px;
  font-weight: bold;
  font-size: 25px;
  }
  &__details__message{
  margin: 50px
  }
}

.credit_card_info_title{
  margin: 10px;
}

//購入完了画面
.pay{
  width: 100vw;
  height: 100vh;
}
.main_paycontents{
  height: calc(100vh - 120px);
  text-align: center;

.main_details{
  height: 100px;
  font-weight: bold;
  font-size: 25px;


  &__message{
  height: 100px;
  margin: 50px;
  }

  }
}
.purchased__links{
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__TopPage{
    margin: 15px;
  font-size: 20px;

  }
  &__index{
  margin: 15px;
  font-size: 20px;
  }
}
.purchaseBtn__buy {
  width: 400px;
  background-color: $mainBlueColor;
  color: white;
  border: none;
  outline: none;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none;

}
