.label{
  margin-bottom: 50px;
}

.cvc{
  width: 60px;
  margin-bottom: 50px;
}

// クレジットカード登録画面
.cardAdd{
  height: 450px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  &__form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.securitycode__cardsecurity__form {
  margin-bottom: 30px;
}


//支払い方法、カード一覧、カード登録完了、登録カードを削除ページのclass名を共通にしました。
.mainPage {
  font-size: 20px;
  height: 480px;
  display: flex;
  justify-content: center;
  position: relative;
  &__box {
    height: 300px;
    position: absolute;
    top: 40px;
    width: 600px;
    // border: solid 1px lightgray;
    padding: 30px 100px;
    &__details{
    height: 100px;
    font-weight: bold;
    font-size: 25px;
    }
  }
}

.mainBox__title {
  &__header {
    font-size: 30px;
    border-bottom: solid 1px lightgray;
    text-align: center;
  }
  &__info {
    display: block;
    &__list {
      margin: 10px;
      font-size: 20px;
    }
    &__list2 {
      margin: 20px;
    }
  }
}

.purchase_none_btn {
  text-align: center;
  margin-top: 20px;
}