@mixin clearfix() {
  :after{
    content:"";
    display:block;
    width:70px;
    height:4px;
    background-color:#3CCACE;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
  }
 }