footer {
  height: 120px;
  background-color: #272727;
  color: white;
  text-align: center;
  padding-top: 20px;
  .item2 {
    font-size: 12px;
    margin-left: 10px;
  }
  .footer__logo {
    height: 50px;
    width: 100px;
    padding-top: 20px;
  }
  .copyright {
    font-size: 7px;
  }
}