* {
  box-sizing: border-box;
}

@mixin flexBox-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexBox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.myPage{
  height: 100vh;
  width: 100vw;
  
 

  &__header{
    height: 200px;
    width: 100%;
  

}
  &__headerTop{
    height: 70px;
    width: 100%;
    background-color: peru;
    @include flexBox-around

  }
  
  &__headerMiddle{
    height: 70px;
    background-color: pink;
    @include flexBox-around
  }
  .li{
    display: inline-block;
    background-color: #99ff00;
    
  }

  &__headerBottom{
    height: 60px;
    display: flex;
    @include flexBox-around;
  }

  &__main{
    height: calc(100vh - 200px);
    width: 100vw;
    background-color: #EEEEEE;
    @include flexBox-center;
  }
  &__leftBox{

    width: 300px;
  
  }

  &__indexBox{
    

  }

  &__rightBox{
    @include flexBox-center;
    text-align: center;
    
}
  &__infoBox{
    
    
}
  &__picBox{
    height: 200px;
    width: 800px;
    background-color: seagreen;
    @include flexBox-center;
    text-align: center;
    
    
}
  &__picinBox{
    height: 100px;
    width: 100px;
    background-color: peachpuff;

  }
  &__nameBox{
    height: 50px;
    @include flexBox-center;
    background-color: paleturquoise;

}
  &__contentsBox{
    height: 200px;
    width: 800px;
    @include flexBox-center;
    background-color: peru;

}
  &__li2{
    

}

}

